form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 48px;
	color: var(--text-body);
}

.form__item {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--base);
}

.form__item label {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	margin-bottom: var(--small);
}

.form__input {
	-webkit-appearance: none;
	width: 100%;
	height: 48px;
	padding: var(--base);
	margin-bottom: var(--small);
	border-radius: var(--radius);
	border: 1px solid var(--input);
	background-color: var(--input);
	outline: none;
	box-shadow: 0 0 0 4px rgba(216, 220, 247, 0);
	transition: all 0.4s ease-in-out;
}
.form__input::-webkit-input-placeholder {
	color: var(--text-subtle);
}
.form__input::-moz-placeholder {
	color: var(--text-subtle);
}
.form__input:-ms-input-placeholder {
	color: var(--text-subtle);
}
.form__input::-ms-input-placeholder {
	color: var(--text-subtle);
}
.form__input::placeholder {
	color: var(--text-subtle);
}
.form__input:focus,
.form__input:hover {
	background: white;
	color: var(--text-body);
	box-shadow: 0 0 0 4px rgba(216, 220, 247, 100);
}
.form__input:focus {
	color: var(--text-body);
	border: 1px solid var(--primary-navy);
}

textarea {
	resize: none;
	min-height: 240px;
	line-height: 170%;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	align-self: center;
}

.name-email-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
}

/* Error states */

.form__input--error {
	border: 1px solid var(--error);
	background: white;
	box-shadow: 0px 0px 0px 4px #f7dedf;
}

.form__error {
	font-family: 'Inter', -apple-system, Helvetica, sans-serif;
	font-size: 1.4rem;
	color: var(--error);
	visibility: hidden;
}
/* targets error message class right after inout error class */

.form__input--error + .form__error {
	visibility: visible;
}
@media screen and (max-width: 768px) {
	.name-email-container {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
}
@media screen and (max-width: 600px) {
	/* mobile type */
	button {
		width: 100%;
	}
}
