@import 'global-styles.css';

#intro-header {
	/* display: flex; */
	position: fixed;

	/* flex-direction: column; */
	padding: var(--x-large);
	padding-top: 165px;
	justify-content: center;
	height: 100%;
	width: 556px;
	background: var(--light) url('../images/aalok-hello-illo2.svg') bottom left no-repeat;
	background-size: 300px;
	box-shadow: 4px 0px 32px rgba(19, 22, 70, 0.07);
}

#intro-header h1 {
	margin-bottom: 24px;
	margin-top: 0p;
}

#intro-header h2 {
	margin-bottom: 48px;
	margin-top: 0;
}

#intro-header .button {
	align-self: flex-start;
}

.text-block-container {
	width: 100%;
	max-width: 656px;
}

/* Small screens and tablet landscape */
@media screen and (max-width: 1100px) {
	#intro-header {
		position: initial;
		height: 90vh;
		width: 100%;
		padding: var(--x-large);
	}

	.main-content {
		margin: 0;
		width: initial;
	}
}

/* @media screen and (max-width: 600px) {
	#intro-header {
		height: initial;
	}
} */

@media screen and (max-width: 480px) {
	#intro-header {
		padding: 48px var(--medium);
	}

	#intro-header .button {
		width: 100%;
	}
}
