@import 'global-styles.css';

#intro-header {
	display: flex;
	position: relative;
	flex-direction: column;
	position: fixed;
	padding: 48px;
	padding-top: 132px;
	/* justify-content: center; */
	height: 100%;
	width: 420px;
	background: var(--light) url('../images/aalok-hello-illo2.svg') bottom left no-repeat;
	background-size: 300px;

	box-shadow: 4px 0px 32px rgba(19, 22, 70, 0.07);
	overflow: hidden;
}

/* #intro-header:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: -24px;
	width: 300px;
	height: 300px;
	background: url('../images/aalok-hello-illo.svg') bottom left no-repeat;
} */

.intro-illo {
	bottom: 0px;
	left: -24px;

	height: 300px;
	background: url('../images/aalok-hello-illo.svg') bottom left no-repeat;
	transform: translateX(-64px) translateY(64px);
}

#intro-header h1 {
	font-size: 3.4rem;
	margin-bottom: 24px;
	margin-top: var(--medium);
	line-height: 130%;
}

#intro-header h2 {
	font-size: 2rem;

	margin-bottom: 48px;

	margin-top: 0;
}

#intro-header .button {
	align-self: flex-start;
}

.text-block-container {
	width: 100%;
	max-width: 656px;
}

/* Small screens and tablet landscape */
@media screen and (max-width: 1024px) {
	#intro-header {
		position: initial;
		height: 768px;
		width: 100%;
		padding: var(--x-large);
	}

	#intro-header h1 {
		font-size: 4.8rem;
		margin-bottom: 24px;
	}
	#intro-header h2 {
		font-size: 34px;
		margin-bottom: var(--large);
	}

	.intro-illo {
		height: 300px;
		background: url('../images/aalok-hello-illo-reverse.svg') bottom right no-repeat;
		transform: translateX(64px) translateY(64px);
	}
}

@media screen and (max-width: 1024px) {
	#intro-header h1 {
		font-size: 4rem;
	}
	#intro-header h2 {
		font-size: 3.4rem;
	}
}

@media screen and (max-width: 480px) {
	#intro-header {
		padding: var(--large);
		justify-content: center;
	}
	.intro-illo {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}

	#intro-header h1 {
		font-size: 3.4rem;
	}

	#intro-header h2 {
		font-size: 2rem;
	}

	#intro-header .button {
		align-self: stretch;
	}
}
