@import 'global-styles.css';

#intro-header {
	/* display: flex; */
	position: fixed;

	/* flex-direction: column; */
	padding: 48px;
	padding-top: 132px;
	justify-content: center;
	height: 100%;
	width: 420px;
	background: var(--light) url('../images/aalok-hello-illo2.svg') bottom left no-repeat;
	background-size: 300px;
	box-shadow: 4px 0px 32px rgba(19, 22, 70, 0.07);
}

#intro-header h1 {
	font-size: 34px;
	margin-bottom: 24px;
	margin-top: var(--medium);
	line-height: 130%;
}

#intro-header h2 {
	font-size: 20px;
	margin-bottom: 48px;
	margin-top: 0;
}

#intro-header .button {
	align-self: flex-start;
}

.text-block-container {
	width: 100%;
	max-width: 656px;
}

/* Small screens and tablet landscape */
@media screen and (max-width: 1100px) {
	#intro-header {
		position: initial;
		height: 90vh;
		width: 100%;
		padding: var(--x-large);
	}

	.main-content {
		margin: 0;
		width: initial;
	}
}

@media screen and (max-width: 1024px) {
	#intro-header h1 {
		font-size: 40px;
	}
	#intro-header h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 480px) {
	#intro-header {
		padding: 48px var(--medium);
	}

	#intro-header h1 {
		font-size: 34px;
	}

	#intro-header h2 {
		font-size: 24px;
	}

	#intro-header .button {
		width: 100%;
	}
}
