@import 'global-styles.css';

#intro-header {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: 48px;
	padding-top: 165px;
	height: 100%;
	width: 420px;
	background: var(--light) url('../images/aalok-hello-illo.svg') bottom left no-repeat;
	background-size: 300px;
	box-shadow: 4px 0px 32px rgba(19, 22, 70, 0.07);
}

#intro-header h1 {
	font-size: 28px;
	margin-bottom: 16px;
	margin-top: 0p;
}

#intro-header h2 {
	font-size: 20px;
	margin-bottom: 32px;
	margin-top: 0;
}

#intro-header .button {
	align-self: flex-start;
}

.text-block-container {
	width: 100%;
	max-width: 656px;
}

/* Small screens and tablet landscape */
@media screen and (max-width: 1024px) {
	#intro-header {
		position: initial;
		height: 900px;
		width: 100%;
		padding: var(--x-large);
	}

	#intro-header h1 {
		font-size: 48px;
		margin-bottom: 24px;
	}
	#intro-header h2 {
		font-size: 34px;
		margin-bottom: var(large);
	}
}

@media screen and (max-width: 600px) {
	#intro-header {
		height: 90vh;
	}
}

@media screen and (max-width: 480px) {
	#intro-header {
		padding: 48px var(--medium);
	}

	#intro-header .button {
		width: 100%;
	}

	#intro-header h1 {
		font-size: 34px;
	}
	#intro-header h2 {
		font-size: 20px;
	}
}
