@import 'global-styles.css';

.introHeader {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	position: fixed;
	padding-top: 96px;
	height: 100%;
	width: 420px;
	background: var(--light);
	box-shadow: 4px 0px 32px rgba(19, 22, 70, 0.07);
	overflow: hidden;
}

.introHeader__headingBlock {
	padding: 48px 48px var(--large) 48px;
}

.introHeader__headingBlock .subtitle {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 0;
}

.introHeader__headingBlock h1 {
	font-size: 3.4rem;
	margin-bottom: 24px;
	margin-top: var(--medium);
	line-height: 120%;
}

.introHeader__ctaBlock {
	display: flex;
	flex-direction: column;
	padding: var(--large) 48px 48px 48px;
	background: var(--secondary-turquoise);
	position: relative;
}

.introHeader__ctaBlock::before {
	content: '';
	width: 88px;
	height: 232px;
	background: url('../images/dotPattern_8x20_navy.svg') no-repeat;
	position: absolute;
	top: 128px;
	left: 0;
	opacity: 0.4;
}

.introHeader__ctaBlock::after {
	content: '';
	width: 64px;
	height: 16px;
	background: url('../images/dotPattern_6x2_yellow.svg') no-repeat;
	position: absolute;
	bottom: 150px;
	right: 72px;
}

.introHeader__ctaBlock .button {
	align-self: center;
	background: transparent;
	border-color: var(--light);
	color: var(--light);
	width: 100%;
}

.introHeader__ctaBlock .button:hover {
	background: var(--light);
	color: var(--primary-navy);
}

.introHeader__ctaBlock .headshot {
	width: 100%;
	mix-blend-mode: multiply;
	margin-left: -32px;
}

/* Small screens and tablet landscape */
@media screen and (max-width: 1024px) {
	#intro-header {
		position: initial;
		height: 768px;
		width: 100%;
		padding: var(--x-large);
	}

	#intro-header h1 {
		font-size: 4.8rem;
		margin-bottom: 24px;
	}
	#intro-header h2 {
		font-size: 34px;
		margin-bottom: var(--large);
	}

	.intro-illo {
		height: 300px;
		background: url('../images/aalok-hello-illo-reverse.svg') bottom right no-repeat;
		transform: translateX(64px) translateY(64px);
	}
}

@media screen and (max-width: 1024px) {
	#intro-header h1 {
		font-size: 4rem;
	}
	#intro-header h2 {
		font-size: 3.4rem;
	}
}

@media screen and (max-width: 480px) {
	#intro-header {
		padding: var(--large);
	}
	.intro-illo {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}

	#intro-header h1 {
		font-size: 3.4rem;
	}

	#intro-header h2 {
		font-size: 2rem;
	}

	#intro-header .button {
		align-self: stretch;
	}
}
