@import 'global-styles.css';
@import 'navigation.css';
@import 'intro-header.css';
@import 'projects-section.css';
@import 'buttons.css';
@import 'form.css';
@import 'social.css';

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1rem;
	color: var(--text-body);
}

/* Typography ------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: var(--dark);
	text-transform: capitalize;
	line-height: 140%;
}

h1 {
	font-size: 40px;
	line-height: 130%;
	letter-spacing: 0.1px;
}

h2 {
	font-size: 28px;
	letter-spacing: 0.25px;
	margin: 16px 0 16px 0;
}
h3 {
	font-size: 20px;
	margin: 8px 0 16px 0;
}

h4 {
	font-size: 16px;
	line-height: 150%;
}

.subtitle {
	font-family: 'Merriweather';
	font-weight: normal;
	color: var(--text-subtle);
	text-transform: none;
}

.body-large,
p,
small {
	color: var(--text-body);
	font-weight: 400;
}

.body-large {
	font-size: 20px;
	line-height: 160%;
}

p {
	font-size: 16px;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 8px 0 24px 0;
}

small {
	font-size: 14px;
	line-height: 170%;
	letter-spacing: 0.25px;
}

.caption {
	font-family: 'Inter', -apple-system, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 175%;
	letter-spacing: 0.2px;
}

a {
	color: var(--secondary-turquoise);
	text-decoration: underline;
	font-weight: 600;
}

ul {
	padding: 0;
}

/* Intro section-------------------------------------------------------- */

/* About section-------------------------------------------------------- */

#about-me,
#contact-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: var(--x-large);
}

#about-me {
	background: rgba(47, 195, 203, 0.05);
}
