@import 'global-styles.css';
@import 'navigation.css';
@import 'buttons.css';
@import 'intro-header.css';
@import 'projects-section.css';
@import 'about-section.css';
@import 'contact-section.css';
@import 'form.css';
@import 'social.css';

html {
	box-sizing: border-box;

	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather', 'Inter', -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1.6rem;
	color: var(--text-body);
}

/* Typography ------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.hero-heading {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: var(--dark);
	text-transform: capitalize;
	line-height: 140%;
}

h1 {
	font-size: 4rem;
	line-height: 120%;
	letter-spacing: 0.1px;
}

.heroHeading {
	font-size: 6rem;
	line-height: 110%;
	margin: var(--large) 0;
}

h2 {
	font-size: 2.8rem;
	letter-spacing: 0.25px;
	margin: 16px 0 16px 0;
}
h3 {
	font-size: 2rem;
	margin: 8px 0 16px 0;
}

h4 {
	font-size: 1.6rem;
	line-height: 150%;
}

.headingPeriod {
	color: var(--secondary-turquoise);
}

.subtitle {
	font-family: 'Merriweather';
	font-weight: normal;
	color: var(--text-subtle);
	text-transform: none;
}

.body-large,
p,
small {
	color: var(--text-body);
	font-weight: 400;
}

.body-large {
	font-size: 2rem;
	line-height: 160%;
}

p {
	font-size: 2rem;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 8px 0 24px 0;
}

/* p {
	font-size: 1.6rem;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 8px 0 24px 0;
} */

small {
	font-size: 1.4rem;
	line-height: 170%;
	letter-spacing: 0.25px;
}

.caption {
	font-family: 'Inter', -apple-system, sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 175%;
	letter-spacing: 0.2px;
}

a {
	color: var(--secondary-turquoise);
	text-decoration: underline;
	transition: -webkit-filter 0.2s ease-in-out;
	transition: filter 0.2s ease-in-out;
	transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
a.textLink:hover {
	-webkit-filter: brightness(85%);
	filter: brightness(85%);
}

ul {
	padding: 0;
}

.main-content {
	margin-left: 420px;
}

.sectionContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: var(--x-large);
}

.content__container {
	max-width: 656px;
}

.sectionHeader {
	display: grid;
	grid-template-columns: 300px 1fr;
	width: 100%;
	height: 360px;
	mix-blend-mode: multiply;
}

.sectionHeader__imgContainer {
	display: flex;
	flex-direction: row;
	position: relative;
	background: var(--secondary-turquoise);
	overflow: hidden;
}

.sectionHeader__imgContainer img {
	width: 100%;
}
.sectionHeader__titleBlock {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	background: var(--primary-navy);
}
.sectionHeader h1 {
	font-size: 8.8rem;
	color: var(--light);
	margin-left: -3.4rem;
	position: relative;
}

#about-me,
#contact-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 128px var(--x-large); */
}

/* animations */

/* Media queries---------------------------------- */

@media screen and (max-width: 1024px) {
	.main-content {
		margin-left: 0;
		width: initial;

		margin-bottom: 64px;
	}
}

/* Tablet portrait */
@media screen and (max-width: 768px) {
	nav {
		padding: 0;
	}
	/* .main-content {


		margin-bottom: var(--x-large);
	} */

	#about-me,
	#contact-me {
		height: auto;
		justify-items: flex-start;
	}
}

@media screen and (max-width: 480px) {
	/* mobile type */
	h1 {
		font-size: 3.4rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	#about-me,
	#contact-me {
		padding: 48px var(--medium);
	}

	#contact-me {
		background-size: 95%;
		padding-bottom: 128px;
	}
}
