@import 'global-styles.css';
@import 'navigation.css';
@import 'intro-header.css';
@import 'projects-section.css';
@import 'buttons.css';
@import 'form.css';
@import 'social.css';

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 62.5%;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather', 'Inter', -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1.6rem;
	color: var(--text-body);
}

/* Typography ------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: var(--dark);
	text-transform: capitalize;
	line-height: 140%;
}

h1 {
	font-size: 4rem;
	line-height: 120%;
	letter-spacing: 0.1px;
}

h2 {
	font-size: 2.8rem;
	letter-spacing: 0.25px;
	margin: 16px 0 16px 0;
}
h3 {
	font-size: 2rem;
	margin: 8px 0 16px 0;
}

h4 {
	font-size: 1.6rem;
	line-height: 150%;
}

.subtitle {
	font-family: 'Merriweather';
	font-weight: normal;
	color: var(--text-subtle);
	text-transform: none;
}

.body-large,
p,
small {
	color: var(--text-body);
	font-weight: 400;
}

.body-large {
	font-size: 2rem;
	line-height: 160%;
}

p {
	font-size: 2rem;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 8px 0 24px 0;
}

/* p {
	font-size: 1.6rem;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 8px 0 24px 0;
} */

small {
	font-size: 1.4rem;
	line-height: 170%;
	letter-spacing: 0.25px;
}

.caption {
	font-family: 'Inter', -apple-system, sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 175%;
	letter-spacing: 0.2px;
}

a {
	color: var(--secondary-turquoise);
	text-decoration: underline;
}

ul {
	padding: 0;
}

.main-content {
	margin-left: 420px;
}

.text-block-container {
	width: 100%;
	max-width: 656px;
}

/* About section-------------------------------------------------------- */

#about-me,
#contact-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--x-large);
}

#about-me {
	/* background-image: radial-gradient(var(--primary-navy) 2%, transparent 2%),
		radial-gradient(var(--primary-navy-300) 2%, transparent 2%); */
	background-image: radial-gradient(var(--primary-navy) 2%, transparent 2%);
	background-color: rgba(47, 195, 203, 0.05);
	background-position: 0 0, 16px 16px;
	background-size: 32px 32px;
}

.about-me-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--medium);
}

.image-block {
	display: grid;
	width: 120px;
	height: 120px;
}
#aalok-headshot {
	width: 100%;
}

#contact-me {
	/* height: auto; */
	padding-bottom: 200px;
	background-image: url('../images/aalok-contact-illo.svg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 500px;
}
/* Media queries---------------------------------- */

@media screen and (max-width: 1024px) {
	.main-content {
		margin-left: 0;
		width: initial;

		margin-bottom: 64px;
	}
}

/* Tablet portrait */
@media screen and (max-width: 768px) {
	nav {
		padding: 0;
	}
	/* .main-content {


		margin-bottom: var(--x-large);
	} */

	#about-me,
	#contact-me {
		height: auto;
		justify-items: flex-start;
	}
}

@media screen and (max-width: 480px) {
	/* mobile type */
	h1 {
		font-size: 3.4rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	#about-me,
	#contact-me {
		padding: 48px var(--medium);
	}

	#contact-me {
		background-size: 95%;
		padding-bottom: 128px;
	}
}
