@import 'global-styles.css';

/* Project section-------------------------------------------------------- */

#my-work {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
}

.project-cover {
	display: grid;
	gap: var(--large);
	padding: 48px;
	color: var(--dark);
}

.project-cover .project-img-container {
	height: 400px;
}

.project-cover h3 {
	margin-top: 0;
	margin-bottom: var(--small);
}
.project-cover p {
	margin: 0;
	line-clamp: 2;
}

.p1 {
	background: #a5efd3;
}

.p2 {
	background: #2f58e8;
	color: var(--light);
}
.p2 p,
.p2 h3 {
	color: var(--light);
}

.p3 {
	background: #f1cb82;
}
.p4 {
	background: #64207f;
}
.p4 p,
.p4 h3 {
	color: var(--light);
}

.p5 {
	background: #2477ca;
}
.p5 p,
.p5 h3 {
	color: var(--light);
}

.p6 {
	background: #eee;
}
