@import 'global-styles.css';

/* Project section-------------------------------------------------------- */

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-gap: var(--medium);
	padding: var(--x-large);
}

.projects__cover {
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-gap: 0;
	color: var(--dark);
	text-decoration: none;
	height: 75vh;
	border-radius: var(--radius);
}

.projects__imgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 48px 48px 24px 48px;
	overflow: hidden;
}

.projects__img {
	max-height: 100%;
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
	/* filter: drop-shadow(0 8px 16px 'var(--primary--navy)0d'); */
	/* box-shadow: 0px 8px 32px -4px rgba(38, 43, 98, 0.1); */
}
.projects__cover:hover {
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}
.projects__cover:hover .projects__img {
	transform: scale(1.05);
}

.projects__titleBlock h3 {
	margin-top: 0;
	margin-bottom: var(--small);
}

.projects__titleBlock {
	width: 100%;
	padding: 24px 48px 48px 48px;
}
.projects__titleBlock p {
	font-size: 1.6rem;
	line-height: 165%;
	letter-spacing: 0.2px;
	margin: 0;
}

.projects__titleBlock a {
	margin: 0;
	padding: 0;
}

#project-1 {
	background: #a5efd3;
}

#project-2 {
	background: #2f58e8;
	color: var(--light);
}
#project-2 p,
#project-2 h3 {
	color: var(--light);
}

#project-3 {
	background: #f1cb82;
}
#project-4 {
	background: #64207f;
}
#project-4 p,
#project-4 h3 {
	color: var(--light);
}

#project-5 {
	background: #2477ca;
}
#project-5 p,
#project-5 h3 {
	color: var(--light);
}

#project-6 {
	background: #eee;
}

/* xlarge screens */
@media screen and (min-width: 2000px) {
	#my-work {
		grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
	}

	.projects__cover {
		height: 50vh;
	}

	.projects__img {
		max-width: 90%;
		max-height: 90%;
	}
	.projects__titleBlock {
		padding: 48px 128px 128px 128px;
	}
}

/* small tablets */
@media screen and (max-width: 600px) {
	/* #my-work {
		display: block;
		width: initial;
	} */
	.projects__cover {
		height: 540px;
	}
}

/* mobile */
@media screen and (max-width: 480px) {
	#my-work {
		display: initial;
	}
	.projects__imgContainer {
		padding: var(--medium) var(--medium) var(--base) var(--medium);
	}
	.projects__titleBlock {
		padding: var(--base) var(--medium) var(--medium) var(--medium);
	}
}
