@import 'global-styles.css';

/* Project section-------------------------------------------------------- */

#my-work {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
}

.project-cover {
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 0;
	color: var(--dark);
	text-decoration: none;
	height: 75vh;
}

.project-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 48px 48px 24px 48px;
	overflow: hidden;
}

.project-cover-img {
	max-height: 100%;
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
	/* box-shadow: 0px 8px 32px -4px rgba(38, 43, 98, 0.1); */
}

.project-cover:hover .project-cover-img {
	transform: scale(1.1);
}

.project-cover h3 {
	margin-top: 0;
	margin-bottom: var(--small);
}

.title-block {
	width: 100%;
	padding: 24px 48px 48px 48px;
}
.title-block p {
	margin: 0;
	line-clamp: 2;
}

.p1 {
	background: #a5efd3;
}

.p2 {
	background: #2f58e8;
	color: var(--light);
}
.p2 p,
.p2 h3 {
	color: var(--light);
}

.p3 {
	background: #f1cb82;
}
.p4 {
	background: #64207f;
}
.p4 p,
.p4 h3 {
	color: var(--light);
}

.p5 {
	background: #2477ca;
}
.p5 p,
.p5 h3 {
	color: var(--light);
}

.p6 {
	background: #eee;
}

/* small screens */
@media screen and (max-width: 1200px) {
	#my-work {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 1024px) {
	#my-work {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* tablets */
@media screen and (max-width: 768px) {
	#my-work {
		display: block;
		width: initial;
	}
}

/* small tablets */
@media screen and (max-width: 600px) {
	#my-work {
		display: block;
		width: initial;
	}
	.project-cover {
		height: 540px;
	}
}

/* mobile */
@media screen and (max-width: 480px) {
	.project-img-container {
		padding: var(--medium) var(--medium) var(--base) var(--medium);
	}
	.title-block {
		padding: var(--base) var(--medium) var(--medium) var(--medium);
	}
}
