.social-section {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	flex-shrink: 1;
	width: 100%;
	margin-top: var(--x-large);
}

.social-section li {
	list-style: none;
	margin-right: var(--small);
}

.social-section li:last-child {
	margin-right: 0;
}

.social-link {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Inter', -apple-system, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: var(--small) var(--base);
	color: var(--text-body);
	text-decoration: none;

	background: rgba(38, 43, 98, 0);
	opacity: 0.6;
	border-radius: var(--radius);
	transition: opacity 0.3s, background 0.3s;
}

.social-icon {
	width: 24px;
	margin-right: var(--small);
}

.social-icon img {
	width: 24px;
}

.social-link:hover,
.social-link:active {
	opacity: 1;
	background: rgba(38, 43, 98, 0.03);
}

.social-section .social-icon {
	padding-right: var(--small);
}
