.socialLinks {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
	margin-top: var(--large);
}

.socialLinks li {
	list-style: none;
	margin-right: var(--small);
}

.socialLinks li:last-child {
	margin-right: 0;
}

.sociaLinks__link {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Inter', -apple-system, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	padding: var(--small) var(--base);
	color: var(--text-body);
	text-decoration: none;

	background: rgba(38, 43, 98, 0);
	opacity: 0.6;
	border-radius: var(--radius);
	transition: opacity 0.3s, background 0.3s;
}

.sociaLinks__link::before {
	content: '';
	width: 24px;
	height: 24px;
	margin-right: var(--small);
	align-self: center;
}

.linkedin::before {
	background: url('../images/icons/linkedin-16.svg') no-repeat;
	background-size: 24px;
}
.dribbble::before {
	background: url('../images/icons/dribbble-16.svg') no-repeat;
	background-size: 24px;
}
.behance::before {
	background: url('../images/icons/behance-16.svg') no-repeat;
	background-size: 24px;
}
.logopond::before {
	background: url('../images/icons/logopond-16.svg') no-repeat;
	background-size: 24px;
}

.sociaLinks__link:hover,
.sociaLinks__link:active {
	opacity: 1;
	background: rgba(38, 43, 98, 0.03);
}

.socialLinks .socialLinks__icon {
	padding-right: var(--small);
}
